altgraph==0.17
auto-py-to-exe==2.7.10
bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.14.4
clipboard==0.0.4
Eel==0.12.4
future==0.18.2
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==0.4.17
imutils==0.5.3
MouseInfo==0.1.3
mss==6.1.0
numpy==1.19.4
opencv-python==4.4.0.46
pefile==2019.4.18
Pillow==8.0.1
PyAutoGUI==0.9.52
pycparser==2.20
PyGetWindow==0.0.9
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
PyMsgBox==1.0.9
pyperclip==1.8.1
PyRect==0.1.4
PyScreeze==0.1.26
PySide2==5.15.2
PyTweening==1.0.3
pywin32-ctypes==0.2.0
selenium==3.141.0
shiboken2==5.15.2
urllib3==1.26.2
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.2.0
